.list > ul > li {
  position: relative;
  width: 700px;
}

.list > ul > li::before {
  content: '';
  position: absolute;
  top: 43%;
  left: -2%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #292929;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background-color: inherit;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #395734;
  border-radius: 50px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #2c4228;
  cursor: pointer;
}
